@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root {
  --blue: #2C7DFA;
  --dark-navy: #1F314F;
  --grey: #7D889E;
  --white: #ffffff;
  --light-grey: #D5E1EF;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit';
}
body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin: auto;
  background-color: var(--light-grey);
  text-align: center;
}
.card {
  width: 320px;
  border-radius: 20px;
  background-color: var(--white);
  padding: 16px;
}
.qr-image {
  overflow: hidden;
  border-radius: 10px;
}
.qr-image img {
  width: 100%;
  vertical-align: middle;
}
h2 {
  color: var(--dark-navy);
  font-size: 22px;
  margin: 24px 16px;

}
p {
  color: var(--grey);
  font-size: 15px;
  margin: 0 16px 24px 16px;
}